.menu-popup { 
  margin: 20px 0 0 0;
  visibility: hidden; 
  opacity: 0; 
  transition: opacity 0.3s, visibility 0s 0.3s; 
  background-color: rgba(0,0,0,0.3);
} 

.menu-popup_open {
  visibility: visible; 
  opacity: 1; 
  transition: opacity 0.3s; 
}

.menu-popup__nav {
  display: flex;
  flex-direction: column;
}

.menu-popup__nav-link {
  margin: 12px 0 12px 0;
  text-align: center;
  font-family: 'Poppins';
  font-style: normal;
	font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  text-decoration: none;
}

.menu-popup__nav-link:first-of-type {
	font-weight: 500;
}

.menu-popup__nav-link:hover {
  opacity: 0.6;
  transition: opacity 0.3s;
}

@media screen and (min-width: 768px) {
  .menu-popup {
    display: none;
  }
}
