.review-card {
  background-color: #3A4574;
  padding: 70px;
  display: flex;
  flex-direction: column;
}

.review-card__img {
  width: 83px;
  height: 58px;
  align-self: center;
  margin: 0 0 34px 0;
}

.review-card__title {
  margin: 0 0 20px;
  font-family: 'Poppins';
  font-style: normal;
	font-weight: 600;
  font-size: 36px;
  text-align: center;
	line-height: 40px;
  color: #D3B47F;
}

.review-card__text {
  margin: 0 0 40px;
  font-family: 'Poppins';
  font-style: normal;
	font-weight: 400;
  font-size: 16px;
  text-align: center;
	line-height: 40px;
  color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .review-card {
    padding: 220px 445px;
  }
  .review-card__text {
    margin: 0 123px 40px;
  }
}

.review-card__author {
  margin: 0;
  font-family: 'Poppins';
  font-style: normal;
	font-weight: 600;
  font-size: 24px;
  text-align: center;
	line-height: 40px;
  letter-spacing: 0.23em;
  color: #D3B47F;
  text-transform: uppercase;
}
