.page {
  margin: 0 auto;
}

.header {
  background-image: url(./images/headerBackground.png);
  background-size: cover;
  background-position: 50% 0;
  padding: 20px;
  display: flex;
  flex-direction: column;

}

.header__logo {
  width: 220px;
  height: 45px;
}

.header__button-wrapper {
  display: flex;	
  justify-content: center;
}

.header__button {
  margin: 0 auto;
  width: 162px;
	padding: 20px 0;
	border: none;
	color: #FFFFFF;
	background-color: #3A4574;
	font-family: 'Poppins';
  font-style: normal;
	font-weight: 500;
  font-size: 16px;
  text-align: center;
	line-height: 20px;
	cursor: pointer;
}

.header__button:hover {
  color: #3A4574 ;
	background-color: #FFFFFF;
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

.header__contacts {
  display: flex;
  margin: 60px auto 24px;
}

.header__contacts-tel {
  margin: 0 0 0 11px;
  font-family: 'Poppins';
  font-style: normal;
	font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

.header__hours {
  margin: 0 auto 24px;
  font-family: 'Poppins';
  font-style: normal;
	font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
}

.header__title {
  margin: 0 auto 40px;
  font-family: 'Poppins';
  font-style: normal;
	font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
  text-align: center;
}

.header__links {
  padding: 0;
  margin: 20px 0 120px;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.header__links-item {
  margin-left: 8px;
}

.header__links-item:hover {
  opacity: 0.6;
  transition: opacity 0.3s;
}

.header__links-item:first-of-type {
  margin-left: 0;
}

.header__nav-bar {
  display: flex; 
  justify-content: space-between;

}

.content {

}

.menu {

}

.clients {
  position: relative;
  
}
