.header__nav {
  display: flex;
  justify-content: end;
}


.header__nav-burger {
  margin: 13px 0 0 0;
  width: 25px;
  height: 25px;
  cursor: pointer; 
  border: none; 
  padding: 0; 
  background-image: url(./burgerMenu.svg);
  background-color: transparent;
}

.header__nav-burger_close {
  background-image: url(./burgerMenuClose.svg);
}

.header__nav-burger:hover {
  opacity: 0.6;
  transition: opacity 0.3s;
}


